@import "./oxygen/_brand-variables",
        "./oxygen/modules/_footer";

@import "~bootstrap";

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default {
    background: #fff;

    .navbar-header {
        .navbar-brand {
            color: $main-color;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
        }
    }

    .nav {
        > li {
            &.active {
                > a {
                    color: $main-color !important;
                }
            }

            > a {
                color: $brand-font-color;
                font-weight: normal;
                text-transform: none;
            }
        }
    }

    &.affix {
        .navbar-header {
            .navbar-brand {
                color: $main-color;
            }
        }
    }
}

header {
    background: $main-color;

    .header-content {
        .header-content-inner {
            h1 {
                //text-transform: none;
                //font-weight: normal;
                //font-style: italic;
                background: rgba(0, 0, 0, 0.43);
                padding: 10px;
                display: inline-block;
                //text-transform: uppercase;
                //font-weight: bold;
                //font-style: normal;
            }

            p {
                color: #fff;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 20px;
            }
        }
    }
}

hr {
    border-color: $brand-font-color-second;
}

.service-box h3,
.section-heading {
    color: #999;
}

.row-colored {
    .section-heading {
        color: #fff;
    }
}

a,
.fa,
.text-primary {
    color: #04c1f9;
}

.btn-primary {
    background: $main-color;
    border: 2px solid $brand-font-color-second;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: $brand-font-color-second;
    color: $brand-font-color-third;
    background-color: $secondary-color;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover,
.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover {
    color: $main-color;
}

.bg-primary {
    background-color: $secondary-color;
    color: $brand-font-color-third;
}

.bg-dark {
    background-color: $background-color-dark;

    .copy {
        color: $brand-font-color;
    }
}

footer {
    background: $background-color-dark;
    color: $dark-font-color;

    ul {
        list-style: none;
        padding-left: 0px;
    }
}

.text-faded {
    color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
    header {
        min-height: 85%;
    }
}

/* Variables */
* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

form {
    width: 30vw;
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
}

.hidden {
    display: none;
}

#payment-message {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
}

#payment-element {
    margin-bottom: 24px;
}

/* Buttons and links */
button {
    background: #5469d4;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
}
button:hover {
    filter: contrast(115%);
}
button:disabled {
    opacity: 0.5;
    cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
    border-radius: 50%;
}
.spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.spinner:before,
.spinner:after {
    position: absolute;
    content: "";
}
.spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    form {
        width: 80vw;
        min-width: initial;
    }
}
